<div class="mt-8 gap-4 flex justify-center w-full"> 
    <div class="min-w-fit">
        <!--  -->
        {{#if this.profImgSrc}}
            <img src="{{profImgSrc}}" alt="Profile Icon" class="rounded-[2rem] h-12 w-12">
        {{else}}
            <img src="../images/profile-icon.png" alt="Profile Icon" class="rounded-[2rem] h-12 w-12">
        {{/if}}
    </div>
    <div class="flex flex-col gap-y-1 text-sm text-neutral-400 w-full">
        <div class="flex overflow-hidden">

            <p>{{user.username}} posted a review for
                <a href="establishment?building={{this.restroomID.buildingID.name}}" class="text-secondary">
                    {{this.restroomID.buildingID.name}}, 
                    Floor {{this.restroomID.floor}},
                    {{this.restroomID.gender}}
                </a>
            </p>

            <p class="w-fit ml-auto">{{this.dateCreated}}</p>
        </div>       
        <div class="text-white mt-1">
            {{this.title}}
        </div>
        <div class="mt-1">
            {{!-- Display toilet paper icons based on the rating --}}
            {{#times this.rating}}
                <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
            {{/times}}
        </div>
        <div class="text-white mt-1">
            {{this.content}}
        </div>
        <div class="flex gap-2">
            {{#each this.amenities}}
                <span class="px-1 bg-gray-400 text-gray-900 rounded">{{this}}</span>
            {{/each}}
        </div>

        {{!--Image --}}
        {{#if this.photoSrc}}
            <div>
                <img src="{{this.photoSrc}}" alt="Review Photo" class="w-24 h-24 rounded-lg mt-4">
            </div>
        {{/if}}

        {{#if this.isEdited}}
            <p class="text-xs">(edited)</p>
        {{/if}}

         <div class="flex mt-1 gap-x-5">
                <a><i class="fa-regular fa-thumbs-up"></i> {{this.cleanCount}}</a>
                <a><i class="fa-regular fa-thumbs-down"></i> {{this.disgustingCount}}</a>
        </div>

        {{#if modifiable}}
            <div class="flex mt-1 gap-x-5">
                <a href="edit-review?reviewId={{this._id}}" class="hover:opacity-80"><i class="fa-solid fa-pencil"></i> Edit Review</a>
                <button class="hover:opacity-80 delete" data-review-id="{{this._id}}">
                    <i class="fa-solid fa-trash-can"></i> Delete Review
                </button>   
            </div>
        {{/if}}
    </div>  
</div>
